In [57]:
import pandas as pd
import numpy as np

from eunjeon import Mecab

import torch
import torch.nn.functional as F
import torchtext.transforms as T

from torch import nn, Tensor
from torch.nn import TransformerEncoder, TransformerEncoderLayer
from torch.optim import AdamW

from torch.utils.data import Dataset
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
from torchtext.nn import MultiheadAttentionContainer, InProjContainer, ScaledDotProduct\
from torch.nn.utils.rnn import pad_sequence
from torchtext.data import get_tokenizer
from torchtext.vocab import vocab, Vocab
from torchtext.transforms import VocabTransform, ToTensor


from sklearn.model_selection import train_test_split

import os

import sentencepiece as spm

SyntaxError: invalid syntax (3359146189.py, line 18)

# Dataset

In [4]:
dataset = pd.read_csv(os.path.join('data', 'mbti_1.csv'))

In [5]:
dataset

      type                                              posts
0     INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1     ENTP  'I'm finding the lack of me in these posts ver...
2     INTP  'Good one  _____   https://www.youtube.com/wat...
3     INTJ  'Dear INTP,   I enjoyed our conversation the o...
4     ENTJ  'You're fired.|||That's another silly misconce...
...    ...                                                ...
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671  ENFP  'So...if this thread already exists someplace ...
8672  INTP  'So many questions when i do these things.  I ...
8673  INFP  'I am very conflicted right now when it comes ...
8674  INFP  'It has been too long since I have been on per...

[8675 rows x 2 columns]

In [6]:
dataset_shuffled = dataset.sample(frac=1)

In [7]:
dataset_shuffled

      type                                              posts
5816  INFP  'Out of all names...Argie?! (I actually really...
6528  ESFP  It's better if you correct me instead of kill ...
7569  INFP  'devastated! Rest in Peace Lou Reed!|||Welcome...
5129  INFP  'http://www.youtube.com/watch?v=7nqHl_7oJC8|||...
5841  INFJ  'Sadly no, but it is similar to my drawing sty...
...    ...                                                ...
5288  ESTP  'The description of Se. I am not that aware of...
482   INTJ  'I used to love Nutella, so I decided to buy a...
547   INFJ  'I have a love-hate relationship when it comes...
7678  INFP  LOOOL. i was only in richmond for 2 weeks in d...
1858  INFJ  'inregardstomyself Oh not at all. I was thinki...

[8675 rows x 2 columns]

In [8]:
x = dataset['posts']
y = dataset['type']

x_train, x_temp, y_train, y_temp = train_test_split(x, y, test_size=0.4, shuffle=True, stratify=y, random_state=12)

x_val, x_test, y_val, y_test = train_test_split(x_temp, y_temp, test_size=0.5, shuffle=True, stratify=y_temp, random_state=12)

In [9]:
print(x_train.shape)
print(y_train.shape)
print()

print(x_val.shape)
print(y_val.shape)
print()

print(x_test.shape)
print(y_test.shape)
print()

(5205,)
(5205,)

(1735,)
(1735,)

(1735,)
(1735,)

# Text(input) Preprocessing

### tokenization

In [13]:
with open('mbti_text.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(dataset['posts']))

spm.SentencePieceTrainer.Train('--input=mbti_text.txt --model_prefix=mbti_tokens --vocab_size=5000 --model_type=bpe --max_sentence_length=9999')

vocab_list = pd.read_csv('mbti_tokens.vocab', sep='\t', header=None)

In [14]:
spm.SentencePieceTrainer.Train('--input=mbti_text.txt --model_prefix=mbti_tokens --vocab_size=5000 --model_type=bpe --max_sentence_length=9999')

In [18]:
vocab_list = pd.read_csv('mbti_tokens.vocab', sep='\t', header=None)

In [22]:
vocab_list[:10]

       0  1
0  <unk>  0
1    <s>  0
2   </s>  0
3     ▁t  0
4     ▁a -1
5     in -2
6    ▁th -3
7     re -4
8     ▁I -5
9     ▁s -6

In [23]:
sp = spm.SentencePieceProcessor()
vocab_file = "mbti_tokens.model"
sp.load(vocab_file)

True

In [25]:
def encode(x):
    return sp.encode_as_ids(x)

def tokenize(df_x):
    return df_x.apply(encode)

In [27]:
df_x = dataset['posts']

In [54]:
def record2tensor(x):
    return torch.Tensor(x)

def df2tensor(df_x):
    return df_x.apply(record2tensor)

def tokenize_record(record):
    #tokenizer = get_tokenizer(Mecab('path').morphs, language='ko')
    tokenizer = get_tokenizer(Mecab('path').morphs, language='ko'
    return tokenizer(record)

def tokenize(df_y):
    return df_x.apply(tokenize_record)

In [55]:
df2tensor(tokenize(df_x))

0       [tensor(377.), tensor(394.), tensor(247.), ten...
1       [tensor(377.), tensor(4941.), tensor(4946.), t...
2       [tensor(377.), tensor(3123.), tensor(222.), te...
3       [tensor(377.), tensor(2079.), tensor(500.), te...
4       [tensor(377.), tensor(253.), tensor(4946.), te...
                              ...
8670    [tensor(377.), tensor(782.), tensor(247.), ten...
8671    [tensor(377.), tensor(1047.), tensor(144.), te...
8672    [tensor(377.), tensor(1047.), tensor(548.), te...
8673    [tensor(377.), tensor(4941.), tensor(203.), te...
8674    [tensor(377.), tensor(631.), tensor(365.), ten...
Name: posts, Length: 8675, dtype: object

In [56]:
pd.DataFrame(torch.nn.utils.rnn.pad_sequence(df2tensor(tokenize(df_x)), batch_first=True, padding_value=0))

,0,1,2,3,4,5,6,7,8,9,...,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549
0,377.0,394.0,247.0,347.0,4930.0,373.0,4930.0,232.0,4950.0,369.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,377.0,4941.0,4946.0,4933.0,2280.0,21.0,1622.0,48.0,81.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,377.0,3123.0,222.0,4919.0,3880.0,4989.0,918.0,247.0,347.0,4930.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,377.0,2079.0,500.0,4945.0,8.0,3341.0,576.0,1450.0,21.0,322.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,377.0,253.0,4946.0,7.0,24.0,1365.0,33.0,876.0,4946.0,4926.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8670,377.0,782.0,247.0,347.0,4930.0,373.0,4930.0,232.0,4950.0,369.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8671,377.0,1047.0,144.0,207.0,124.0,524.0,1043.0,4190.0,165.0,360.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8672,377.0,1047.0,548.0,1323.0,200.0,104.0,106.0,713.0,331.0,4930.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8673,377.0,4941.0,203.0,294.0,2724.0,41.0,486.0,416.0,200.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8674,377.0,631.0,365.0,317.0,287.0,554.0,765.0,8.0,99.0,317.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
pd.DataFrame(tokenize(df_x))

                                                  posts
0     [377, 394, 247, 347, 4930, 373, 4930, 232, 495...
1     [377, 4941, 4946, 4933, 2280, 21, 1622, 48, 81...
2     [377, 3123, 222, 4919, 3880, 4989, 918, 247, 3...
3     [377, 2079, 500, 4945, 8, 3341, 576, 1450, 21,...
4     [377, 253, 4946, 7, 24, 1365, 33, 876, 4946, 4...
...                                                 ...
8670  [377, 782, 247, 347, 4930, 373, 4930, 232, 495...
8671  [377, 1047, 144, 207, 124, 524, 1043, 4190, 16...
8672  [377, 1047, 548, 1323, 200, 104, 106, 713, 331...
8673  [377, 4941, 203, 294, 2724, 41, 486, 416, 200,...
8674  [377, 631, 365, 317, 287, 554, 765, 8, 99, 317...

[8675 rows x 1 columns]

### vocab

In [7]:
def make_vocab(tokenized):
    counter = Counter()
    for record in tokenized:
        counter.update(record)
        
    sorted_by_freq = sorted(counter.items(), key=lambda x: x[1], reverse=True)
    sordered_dict = OrderedDict(sorted_by_freq)
    vocabulary = vocab(ordered_dict, specials=['unk'])
    vocabulary.set_default_index(vocabulary['unk'])
    
    return vocabulary

### encoding (정수 인코딩)

In [8]:
def encoding(tokenized, my_vocab):
    vocab_transforms = VocabTransform(my_vocab)
    return vocab_transforms(tokenized.values.tolist()) ## tokenized의 type 확인해보기

### padding

In [9]:
def padding(encoded):
    temp = []
    for record in encoded:
        temp.append(torch.Tensor(record))
        
    return torch.nn.utils.rnn.pad_sequence(temp, batch_first, padding_value=0)

### label encoding

In [41]:
def to_int(x):
    types = ['INTJ', 'INTP', 'ENTJ', 'ENTP', 'INFJ', 'INFP', 'ENFJ', 'ENFP', 'ISTJ', 'ISFJ', 'ESTJ', 'ESFJ', 'ISTP', 'ISFP', 'ESTP', 'ESFP']
    integers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
    for i in range(len(integers)):
        if x == types[i]:
            result = integers[i] 
    return result

def label_encoding(df_y):
    return df_y.apply(to_int)

In [42]:
label_encoding(dataset['type'])

0        4
1        3
2        1
3        0
4        2
        ..
8670    13
8671     7
8672     1
8673     5
8674     5
Name: type, Length: 8675, dtype: int64

### preprocessing function

In [48]:
def preprocessing(df_x, df_y):

    # x
    tensor_x = torch.Tensor(tokenize(df_x))
    tensor_x = tensor_x.type(torch.int32)
    print(tensor_x.size())
    print(tensor_x.type())
    
    
    #y
    y = torch.Tensor(label_encoding(df_y))
    
    tensor_y = torch.tensor(y)
    tensor_y = tensor_y.type(torch.long)
    
    return tensor_x, tensor_y

In [11]:
def preprocessing_eval(dataset):
    
    df_x = dataset['input']
    df_y = dataset['label']
    
    # x
    tokenized = tokenize(df_x)
    #my_vocab = make_vocab(tokenized)
    encoded = encoding(tokenized, my_vocab)
    padded = padding(encoded)
    
    tensor_x = padded
    tensor_x = tensor_x.type(torch.int32)
    print(tensor_x.size())
    print(tensor_x.type())
    
    
    #y
    y = torch.Tensor(df_y.apply(adjust_classnum)).type(torch.long)
    
    tensor_y = torch.tensor(y)
    tensor_y = tensor_y.type(torch.long)
    
    return tensor_x, tensor_y, my_vocab

###  preprocessing

In [50]:
x_train, y_train = preprocessing(x_train, y_train)
x_val, y_val = preprocessing(x_val, y_val)

ValueError: could not determine the shape of object type 'Series'

# Custom Dataset

In [13]:
class CustomDataset(Dataset):
    def __init__(self, x, y):
        self.x_data = x
        self.y_data = y
        
    def __len__(self):
        return self.x_data.shpae(0)
    
    def __getitem__(self, idx):
        
        return self.x_data[idx], self.y_data[idx]

In [ ]:
train_dataset = CustomDataset(x_train, y_train)
val_dataset = CustomDataset(x_val, y_val)

# DataLoader

In [15]:
batch_size = 100

In [ ]:
train_dataloader = DataLoader(train_dataset, batch_size = batch_size, shuffle=False, drop_last=True)
val_dataloader = DataLoader(val_dataset, batch_size = batch_size, shuffle=False, drop_last=True)